.containe{
    background-color:#252B39;
    width: 100%;
    height: auto;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.content{
    max-width: 780px;
    margin: 0 auto;
}

.navBar{
    padding: 5px;
    a{
        color: #1ABC9C;
        text-decoration: unset;
        font-size: 30px;
        font-family: 'tw cen mt';
        font-weight: 600;
    }
}

.navForm{
    height:40px;
    width: 95%;
    margin-bottom: 1.4rem;
    border-radius:10px; 
    border-style: none;
    padding: 0 4%;
    font-size: 23px;
    font-family: 'tw cen mt';
    
}

.navContainer{
    padding: 0.1px 15px;
    cursor: pointer;
}
.results{
    background-color: rgba(48, 53, 67, 1);
    border-radius: 5px;
    border-color: white;
    border: solid 1px white;
    padding: 0.1px 15px;
    opacity: 0.98;
    position: sticky;
    color: #1ABC9C;
    cursor: pointer;
    margin-top: 15px;
  }

@media only screen and (min-width : 150px) and (max-width : 500px)
{
    .navBar{
        padding: 0px;
        a{
            color: #1ABC9C;
            text-decoration: unset;
            font-size: 30px;
            font-family: 'tw cen mt';
            font-weight: 600;
        }
    }
	.navForm
	{
		background-color: #303543;
        text-align: center;
        margin-top: 25px;
        height:50px;
        width: 100%;
        font-size: 26px;
        font-family: 'tw cen mt';
	}
    .containe{
        height: 152px;
        position: fixed;
    }
    .content{
        padding: 25px;
    }
    .navContainer{
        cursor: pointer;
        position: fixed;
        margin-top: -15px;
        width: 100%;
    }
}