/*.containe{
   
    background-color: #252B39;
}

.navBar{
    max-width: 780px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    a{
        color: #1ABC9C;
        text-decoration: none;
        font-size: 30px;
        margin: 0.7rem;
    }
}

.navForm{
    height:40px;
    width: 95%;
    margin-bottom: 1.2rem;
    border-radius:10px;
    border-color: white; 
    border-style: none;
    padding: 0 2%;

}


@media only screen and (min-width : 150px) and (max-width : 780px)
{
	.navForm
	{
		width: 100%;
	}

*/

.containe{
    background-color:#252B39;
    width: 100%;
    height: auto;
    text-align: center;
}
.content{
    max-width: 780px;
    margin: 0 auto;
}

.navBar{
    padding: 5px;
    a{
        color: #1ABC9C;
        text-decoration: none;
        font-size: 30px;
    }
}

.navForm{
    height:40px;
    width: 95%;
    margin-bottom: 1.4rem;
    border-radius:10px; 
    border-style: none;
    padding: 0 4%;
    
}

@media only screen and (min-width : 150px) and (max-width : 400px)
{
    .navBar{
        padding: 0px;
        a{
            color: #1ABC9C;
            text-decoration: none;
            font-size: 30px;
            font-family: 'tw cen mt';
            font-weight: 600;
        }
    }
	.navForm
	{
		background-color: #303543;
        text-align: center;
        margin-top: 20px;
        height:40px;
        width: 100%;
        font-size: 23px;
        font-family: 'tw cen mt';
	}
    .containe{
        height: 152px;
    }
    .content{
        padding: 20px;
    }
}