.containe{
    background-color:#252B39;
    width: 100%;
    height: auto;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.content{
    max-width: 780px;
    margin: 0 auto;
}

.navBar{
    padding: 5px;
    a{
        color: #1ABC9C;
        text-decoration: unset;
        font-size: 30px;
        font-family: 'tw cen mt';
        font-weight: 600;
    }
}

.navForm{
    height:40px;
    width: 95%;
    margin-bottom: 1.4rem;
    border-radius:10px; 
    border-style: none;
    padding: 0 4%;
    font-size: 23px;
    font-family: 'tw cen mt';
    
}

@media only screen and (min-width : 150px) and (max-width : 400px)
{
    .navBar{
        padding: 0px;
        a{
            color: #1ABC9C;
            text-decoration: unset;
            font-size: 30px;
            font-family: 'tw cen mt';
            font-weight: 600;
        }
    }
	.navForm
	{
		background-color: #303543;
        text-align: center;
        margin-top: 25px;
        height:50px;
        width: 100%;
        font-size: 26px;
        font-family: 'tw cen mt';
	}
    .containe{
        height: 152px;
    }
    .content{
        padding: 25px;
    }
}