@import "./common.scss";
@font-face {
    font-family: "tw cen mt";
    src: url("../public/fonts/twcenmt.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

// components

@import "../components/NavBar.scss";

// definition

@import "../components/Definition.scss";

// suggestions

@import "../components/Suggestions.scss";